Package: clautod
Version: 0.4.0
Architecture: all
Maintainer: Jeremy Lerner <jeremy.cpsc.questions@gmail.com>
Installed-Size: 19895
Section: main
Priority: optional
Homepage: https://github.com/jeremy-quicklearner/clautod
Description: Consumables-Listing AUTOmation
 A home inventory tracker
