# Files created by a package release
debian/README.debian
debian/README.source
debian/changelog
debian/clauto-common.debhelper.log
debian/clauto-common.preinst.debhelper
debian/clauto-common.postinst.debhelper
debian/clauto-common.prerm.debhelper
debian/clauto-common.postrm.debhelper
debian/clauto-common.substvars
debian/clauto-common
debian/debhelper-build-stamp
debian/files

# IDE stuff
.idea